
<RadSideDrawer>
    
    <StackLayout tkDrawerContent class="sidedrawer-content">
        <Label text="some drawer fake link" textWrap="true"></Label>
        <Label text="some drawer fake link" textWrap="true"></Label>
        <Label text="some drawer fake link" textWrap="true"></Label>
        <Label text="some drawer fake link" textWrap="true"></Label>
        <Label text="some drawer fake link" textWrap="true"></Label>
        <Label text="some drawer fake link" textWrap="true"></Label>
    </StackLayout>

    <GridLayout tkMainContent>
        <page-router-outlet></page-router-outlet>
    </GridLayout>

</RadSideDrawer>