<!-- 
<RadSideDrawer>
    
    <StackLayout tkDrawerContent class="sidedrawer-content">
        <Label text="Home" textWrap="true"></Label>
        <Label text="Photo of the Day" textWrap="true"></Label>
        <Label text="Asteroids Proximity Checker" textWrap="true"></Label>
        <Label text="Mars Rovers Photos" textWrap="true"></Label>
        <Label text="Details" textWrap="true"></Label>
        <Label text="Logout" textWrap="true"></Label>
    </StackLayout> -->

    <page-router-outlet tkMainContent></page-router-outlet>

<!-- </RadSideDrawer> -->